    .body {
      width: 500px;
      height: auto;
      }

     .main {
       background-color: red;
       display: flex;
        border-bottom: 1px solid gray;
      }

      .main:last-child {
        border-bottom: none;
      }

      .data {
        text-align: left;
        margin-top: 15px;
        display: block;
      }

      img {
        width: 100px;
        height: 100px;
        margin: 15px;
        border: 1px solid black;
        border-radius: 50%;
      }